<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @tracking.url %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @tracking.uuid %>
</p>

<%= link_to 'Edit', edit_tracking_path(@tracking) %> |
<%= link_to 'Back', trackings_path %>
